
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-Nav{
    height: 10%;
    width: 6%;
}
label{
    margin-left: 800px;
    font-size:22px;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    color:#e23e57 ;
    font-family: "Poppins", sans-serif;
}
label:hover{
    color: #ce1f3a;
    transform: scale(1.1);
}
.enter{
    background-color: #ce1f3a;
    color: aliceblue;
    border: #e23e57;
    border-radius: 20px;
    width: 7%;
    padding: 0.4%;
    font-size: larger;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
button:hover{
    transform: scale(1.1);
    background-color: #e23e57;
}


    
